/*
 * www.andyholmes.ca
 */
.content {
  margin: 0 auto;
  max-width: 900px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 1.25em;
  padding: 1em 0;
}

header > .content {
  display: flex;
}

header #logo {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin: 0 2rem;
  overflow: hidden;
}

nav {
  margin: auto 0;
}

nav a {
  border-radius: 0.5em;
  margin-right: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

main {
  flex-grow: 1;
}

main a {
  text-decoration: none;
}

main a:focus,
main a:hover {
  text-decoration: underline;
}

main > .content {
  font-size: 13pt;
  padding: 1rem;
  flex-grow: 1;
}

footer {
  padding: 2rem 0;
}

footer > .content {
  position: relative;
}

#copyright {
  font-size: smaller;
  margin: 0 auto;
  text-align: center;
}

#copyright a {
  text-decoration: none;
}

#copyright a:focus,
#copyright a:hover {
  text-decoration: underline;
}

.social {
  position: absolute;
  right: 1rem;
  top: 0rem;
  text-align: right;
}

.social a {
  margin-left: 0.75em;
  text-decoration: none;
}

.social a svg {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}

/*
 * Posts
 */
.post-summary {
  border: 1px solid var(--dim-borders);
  border-radius: 0.75em;
  padding: 1em;
  margin-bottom: 1.5em;
}

.post-summary > :is(h2, h3) {
  font-size: 1.25em;
  display: inline;
}

.post-summary > time {
  color: var(--dim-label);
  float: right;
}

.post-header {
  margin: 1em 0 2em 0;
}

.post-header > h1 {
  margin-bottom: 0;
}

.post-header > time,
.post-header > ul {
  display: inline-block;
  margin: 0.5em 0.125em;
  padding: 0;
}

.post-header > time {
  color: var(--dim-label);
  vertical-align: middle;
}

.post-header .tag {
  display: inline-block;
}

.post-header .tag a {
  color: currentColor;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.2em;
  font-size: smaller;
  margin-right: 0.125em;
  padding: 0.25em 0.625em;
}

:is(h1, h2, h3) > .header-anchor {
  position: relative;
  margin-left: -0.875em;
  visibility: hidden;
}

:is(h1:hover, h2:hover, h3:hover) > .header-anchor {
  visibility: visible;
}

/*
 * Theme
 */
body {
  background-color: var(--dark-background);
  color: var(--dark-foreground);
}

body a {
  color: currentColor;
}

nav a:hover {
  background-color: var(--dark-prelight);
}

main {
  background-color: var(--light-background);
  color: var(--light-foreground);
}

main a {
  color: var(--blue5);
}

kbd {
  background-color: var(--light3);
  color: currentColor;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--dark-background);
    color: var(--dark-foreground);
  }

  main {
    background-color: var(--light-background);
    color: var(--light-foreground);
  }

  main a {
    color: var(--blue5);
  }

  kbd {
    background-color: var(--light3);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(30, 30, 30); /* make the header/footer a bit darker */
    color: var(--dark-foreground);
  }

  main {
    background-color: var(--dark-background);
    color: var(--dark-foreground);
  }

  main a {
    color: var(--blue1);
  }

  kbd {
    background-color: var(--dark3);
  }
}
