

/* Code Highlighting */
@import "/assets/css/code.light.css" screen;
@import "/assets/css/code.dark.css" screen and (prefers-color-scheme: dark);


/*
 * Inline Code
 */
a code {
  text-decoration: underline;
}

code {
  border-radius: 0.25em;
  padding: 1px 0.5ch;
  white-space: nowrap;
}

/*
 * Code Blocks
 */
div.highlight {
  background: none;
}

pre.highlight {
  border: 1px solid var(--borders);
  border-radius: 0.5ch;
  margin: 0;
  overflow: scroll;
}

pre.highlight code {
  display: block;
  padding: 1ch;
  white-space: pre;
  width: 81ch;
}

/*
 * Clipboard Button
 */
div.highlight {
  position: relative;
}

div.highlight > button {
  background-color: rgba(127,127,127,0.5);
  border-radius: 0.25em;
  border: none;
  opacity: 0;
  position: absolute;
  right: 1ch;
  top: 1ch;
  transition-duration: 500ms;
  transition-property: opacity;
  width: 32px;
  height: 32px;
}

div.highlight:hover > button {
  opacity: 1;
}

div.highlight > button:hover,
div.highlight > button:focus {
  background-color: rgba(127,127,127,0.75);
}

div.highlight > button:active {
  background-color: rgba(127,127,127,0.5);
}

