---
---

@import "{{ site.theme }}";

/*
 * General Overrides
 */
html {
  scroll-behavior: smooth;
}

.inner {
  max-width: 768px;
  padding: 1em 2em;
}


/*
 * Header
 */
header {
  padding: 0.5em;
  margin: auto;
  max-width: 1024px;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
}

header img {
  border: none;
  border-radius: 16px;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

#project_title {
  font-size: 2em;
  font-weight: normal;
  display: inline;
  padding: 0px 0.25em 0px 0.25em;
  vertical-align: middle;
}

nav {
  display: inline;
}

nav a {
  color: #fff;
  padding: 0.75em 1em;
}

nav a:hover {
  background-color: #444;
  border-radius: 0.25em;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
}

/* Articles */
article.summary a.tag {
  float: right;
}

.article-header {
  margin: 1em 0 2em 0;
}

.article-header h1 {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.article-header time {
  color: #6e6e6e;
  font-weight: bold;
}

/* Code */
a code {
  text-decoration: underline;
}

code {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  padding: 1px 3px;
  margin: 0;
}

pre.highlight {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  margin-bottom: 2em;
  padding: 0;
}

pre.highlight code {
  background-color: #fefefe;
  border: none;
  padding: 1em;
}

/* Misc Formatting */
dd {
  margin-bottom: 1em;
}

/* Tags */
.tag {
  display: inline-block;
  background: #dedede;
  font-size: small;
  font-weight: bold;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border-radius: 0.25em;
  color: #212121;
  transition: all 0.1s ease-in-out;
  vertical-align: middle;
}

.tag:before {
  content: '\f02b';
  font-family: 'Font Awesome 5 Free';
  padding-right: 0.5em;
}

.tag:hover {
  text-decoration: none;
  background: #373737;
  color: #fff;
}

.tag-group {
  margin-bottom: 1em;
}

.tag-group .tag {
  float: right;
}

.tag-group h3 {
  font-size: larger;
}

/* External Links */
main .external-link:after {
  content: '\a0\f35d';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  font-size: 0.5em;
  vertical-align: super;
  text-decoration: none;
  display: inline-block;
}

/*
 * Sections
 */
.section-listing {
}

.section-listing h3 {
  display: inline;
}

.section-listing time {
  color: #6e6e6e;
  float: right;
}

/*
 * Footer
 */
.copyright {
  float: left;
}

.social {
  float: right;
  font-size: 2em;
}

.social a {
  text-decoration: none;
  margin-left: 0.125em;
}

.social i {
  vertical-align: middle;
}

.social img {
  display: inline;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 1em;
  height: 1em;
  -webkit-box-shadow: none;
  vertical-align: middle;
}

