<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header>
        <a href="/">
          <img src="https://gravatar.com/avatar/d782873c25fc92ccadf8e81cd9771bea?s=32" alt=""/>
          <span id="project_title">{{ site.title }}</span>
        </a>
        {% include navigation.html %}
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <main class="inner">
        {{ content }}
      </main>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">&copy; 2018-2020 Andy Holmes</a></p>

        <div class="social">
          <a href="https://github.com/andyholmes" aria-label="Github"><i class="fab fa-github"></i></a>
          <a href="https://wiki.gnome.org/AndyHolmes" aria-label="GNOME"><img src="/assets/images/gnome.svg" alt="GNOME"></a>
          <a href="/feed.xml" aria-label="Feed"><i class="fas fa-rss"></i></a>
        </div>
      </footer>
    </div>
  </body>
</html>
