---
layout: base
title: Latest
eleventyExcludeFromCollections: true
---
<h1>{{ title }}</h1>

<section>
{% for post in collections.latest %}
  <article class="post-summary" aria-labelledby="{{ post.data.title | slugify }}">
    <h2 id="{{ post.data.title | slugify }}"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <p>{% excerpt post %}</p>
  </article>
{% endfor %}
</section>

{% if collections.posts.length > collections.latest.length %}
<p>
  <a href="/posts/">Older Posts</a>
</p>
{% endif %}
